<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/historic.css">
  <link rel="shortcut icon" type="imagex/x-icon" href="/img/FCallendar-Logo-v1.ico">
  <!-- Estilo Swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <title>FCallendar</title>
</head>

<body>
  <main class="main">
    <section>
      <span class="title-desk">Meu Histórico</span>
      <div class="divider"></div>
    </section>

    <div class="month-select">
      <form id="form-historic" action="/historic" method="POST">
        <select name="months" class="months">
          <option value="1" <%=mes==1?'selected':'' %> >Janeiro</option>
          <option value="2" <%=mes==2?'selected':'' %>>Fevereiro</option>
          <option value="3" <%=mes==3?'selected':'' %>>Março</option>
          <option value="4" <%=mes==4?'selected':'' %>>Abril</option>
          <option value="5" <%=mes==5?'selected':'' %>>Maio</option>
          <option value="6" <%=mes==6?'selected':'' %>>Junho</option>
          <option value="7" <%=mes==7?'selected':'' %>v>Julho</option>
          <option value="8" <%=mes==8?'selected':'' %>>Agosto</option>
          <option value="9" <%=mes==9?'selected':'' %>>Setembro</option>
          <option value="10" <%=mes==10?'selected':'' %>>Outubro</option>
          <option value="11" <%=mes==11?'selected':'' %>>Novembro</option>
          <option value="12" <%=mes==12?'selected':'' %>>Dezembro</option>
        </select>
        <button type="submit" class="prev"></button>
        <button type="submit" class="next"></button>
        <!-- <div class="prev"></div>
        <div class="next"></div> -->
      </form>
    </div>
    <!-- responsavel por mostrar dia, semana e sede -->
    <% agendamentos.forEach(agendamento=> { %>
      <% function formatDay(day){ if(day==0){ return "Dom" } if(day==1){ return "Seg" } if(day==2){ return "Ter" }
        if(day==3){ return "Qua" } if(day==4){ return "Qui" } if(day==5){ return "Sex" } if(day==6){ return "Seb" } }%>
        <div class="containerTime">
          <p class="day">
            <%-agendamento.data.getDate()%>
          </p>
          <p class="week">
            <%- formatDay(agendamento.data.getDay())%>
          </p>
          <p class="thirst">
            <%= agendamento.id_unidade==1 ? 'São Paulo' : 'Santos' %>
          </p>
        </div>
        <% }) %>
          </div>
  </main>
  <button class="btn">Reservar uma vaga</button>
  <%- include('./partials/navigation.ejs') %>
    <script src="/javascript/gauge.js"></script>
    <!-- Biblioteca Swiper -->>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- Javascript para o Swiper -->
    <script src="/javascript/historic.js"></script>


    <script>



    </script>
</body>

</html>